<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/leaderboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <nav>
        <span></span>
        <a href="/" id="back"><img src="/assets/images/Arrow Back Icon.svg"></a>
        <h1>Global Leaderboard</h1>
        <span>
            <a href="/"><img src="/assets/images/person fill0.svg"></a>
            <a href="/leaderboard"><img id="trophy" src="/assets/images/Material Symbols Trophy.svg"></a>
        </span>
    </nav>

    <div id="headings">
        <h4>Pos</h4>
        <h4>Username</h4>
        <h4>Level</h4>
        <h4>Money</h4>
        <h4>Happiness</h4>
    </div>

    <% for (let user of users) { %>
    <div class="user">
        <p><%= user.position %></p>
        <p><%= user.username %></p>
        <p><%= user.level %></p>
        <p><%= user.balance %></p>
        <p><%= user.happiness %></p>
    </div>
    <% } %>
</body>
</html>

